 {
	"product.automobile.feed":  {
		"description":  {
			"0":  {
				"altlabel": "",
				"display": "all",
				"element": "beab45eb-b32a-4766-822d-b3fb72b5b1d4",
				"separated_by": "tag=[<div>%s<\/div>]",
				"showlabel": "0"
			},
			"1":  {
				"altlabel": "",
				"display": "all",
				"element": "83ba7366-d126-40f0-923e-3e7a94f0e773",
				"separated_by": "tag=[<div>%s<\/div>]",
				"showlabel": "0"
			}
		}
	},
	"product.automobile.full":  {
		"title":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "0",
				"element": "_itemname"
			}
		},
		"media":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"width": "",
				"height": "",
				"link_to_item": "0",
				"element": "246e955a-5a57-4ad0-ad8c-c15fc7bfccb6"
			}
		},
		"description":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"rating_disabled": "0",
				"show_message": "1",
				"show_microdata": "0",
				"element": "fff9519f-3b36-4df5-8722-17db9f2ea31c"
			},
			"1":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[<div class=\"uk-margin\">%s<\/div>]",
				"display": "all",
				"element": "83ba7366-d126-40f0-923e-3e7a94f0e773"
			}
		},
		"specification":  {
			"0":  {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[, ]",
				"element": "76d6096d-4152-4f61-a0da-036a6436f9ab"
			},
			"1":  {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[, ]",
				"element": "f243f381-bd38-4686-b5d3-029123334db6"
			},
			"2":  {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[, ]",
				"element": "8f8b5c48-fd0b-4232-a60f-90fd9110a0e8"
			}
		},
		"bottom":  {
			"0":  {
				"showlabel": "1",
				"altlabel": "Share this product",
				"ggsize": "medium",
				"ggannotation": "none",
				"ggwidth": "",
				"fbheight": "20",
				"fbwidth": "100",
				"fbshow_faces": "false",
				"fblayout": "button_count",
				"fbaction": "like",
				"fbcolorscheme": "light",
				"fbref": "",
				"twvia": "",
				"twtext": "",
				"twrelated": "",
				"twcount": "none",
				"element": "8fc7f03a-5c3b-4e11-8ecc-f1ce24af79d8"
			}
		},
		"related":  {
			"0":  {
				"showlabel": "1",
				"altlabel": "",
				"order":  {
					"0": "_itemcreated",
					"1": "",
					"2": "",
					"3": "",
					"4": "",
					"5": "",
					"6": "",
					"7": "",
					"8": ""
				},
				"layout": "related",
				"link_to_item": "0",
				"separated_by": "tag=[%s]",
				"element": "64c188a6-cf2f-4895-8879-8b67a58b6780"
			}
		}
	},
	"product.automobile.related":  {
		"title":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"element": "_itemname"
			}
		},
		"media":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"width": "100",
				"height": "",
				"link_to_item": "1",
				"element": "c0794696-a5d2-4df9-b20f-f23b0f94a41b"
			}
		},
		"description":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[<div class=\"uk-margin\">%s<\/div>]",
				"display": "all",
				"element": "beab45eb-b32a-4766-822d-b3fb72b5b1d4"
			}
		},
		"links":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"link_text": "",
				"element": "_itemlink"
			},
			"1":  {
				"showlabel": "0",
				"altlabel": "",
				"single_comment_text": "Feedback (%s)",
				"multiple_comments_text": "Feedback (%s)",
				"no_comments_text": "Leave Feedback",
				"element": "_itemcommentslink"
			}
		}
	},
	"product.automobile.submission":  {
		"content":  {
			"0":  {
				"altlabel": "",
				"required": "1",
				"element": "_itemname"
			},
			"1":  {
				"altlabel": "",
				"required": "1",
				"element": "beab45eb-b32a-4766-822d-b3fb72b5b1d4"
			},
			"2":  {
				"altlabel": "",
				"required": "1",
				"element": "83ba7366-d126-40f0-923e-3e7a94f0e773"
			},
			"3":  {
				"altlabel": "",
				"required": "0",
				"element": "76d6096d-4152-4f61-a0da-036a6436f9ab"
			},
			"4":  {
				"altlabel": "",
				"required": "0",
				"element": "f243f381-bd38-4686-b5d3-029123334db6"
			},
			"5":  {
				"altlabel": "",
				"required": "0",
				"element": "8f8b5c48-fd0b-4232-a60f-90fd9110a0e8"
			},
			"6":  {
				"altlabel": "",
				"required": "0",
				"element": "33a1614d-069e-41d0-a21e-c162ebe500e5"
			}
		},
		"media":  {
			"0":  {
				"altlabel": "",
				"required": "0",
				"element": "c0794696-a5d2-4df9-b20f-f23b0f94a41b"
			},
			"1":  {
				"altlabel": "",
				"required": "0",
				"element": "246e955a-5a57-4ad0-ad8c-c15fc7bfccb6"
			}
		},
		"meta":  {
			"0":  {
				"altlabel": "",
				"required": "0",
				"element": "64c188a6-cf2f-4895-8879-8b67a58b6780"
			},
			"1":  {
				"altlabel": "",
				"required": "0",
				"element": "00e1df62-828d-42f5-a1a6-a89d553d4934"
			}
		}
	},
	"product.automobile.teaser":  {
		"title":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"element": "_itemname"
			}
		},
		"media":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"width": "150",
				"height": "",
				"link_to_item": "1",
				"element": "c0794696-a5d2-4df9-b20f-f23b0f94a41b"
			}
		},
		"description":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"rating_disabled": "1",
				"show_message": "0",
				"show_microdata": "0",
				"element": "fff9519f-3b36-4df5-8722-17db9f2ea31c"
			},
			"1":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[<div class=\"uk-margin\">%s<\/div>]",
				"display": "all",
				"element": "beab45eb-b32a-4766-822d-b3fb72b5b1d4"
			}
		},
		"links":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"link_text": "",
				"element": "_itemlink"
			}
		}
	},
	"product.furniture.feed":  {
		"description":  {
			"0":  {
				"altlabel": "",
				"display": "all",
				"element": "beab45eb-b32a-4766-822d-b3fb72b5b1d4",
				"separated_by": "tag=[<div>%s<\/div>]",
				"showlabel": "0"
			},
			"1":  {
				"altlabel": "",
				"display": "all",
				"element": "83ba7366-d126-40f0-923e-3e7a94f0e773",
				"separated_by": "tag=[<div>%s<\/div>]",
				"showlabel": "0"
			}
		}
	},
	"product.furniture.full":  {
		"title":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "0",
				"element": "_itemname"
			}
		},
		"media":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"width": "",
				"height": "",
				"link_to_item": "0",
				"element": "246e955a-5a57-4ad0-ad8c-c15fc7bfccb6"
			}
		},
		"description":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"rating_disabled": "0",
				"show_message": "1",
				"show_microdata": "0",
				"element": "fff9519f-3b36-4df5-8722-17db9f2ea31c"
			},
			"1":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[<div class=\"uk-margin\">%s<\/div>]",
				"display": "all",
				"element": "83ba7366-d126-40f0-923e-3e7a94f0e773"
			}
		},
		"specification":  {
			"0":  {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[, ]",
				"element": "d61cb730-00c1-48ad-bef9-0dceb5cfc018"
			},
			"1":  {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[, ]",
				"element": "68d53070-a484-4eab-8de3-663926fcd9b9"
			}
		},
		"bottom":  {
			"0":  {
				"showlabel": "1",
				"altlabel": "Share this product",
				"ggsize": "medium",
				"ggannotation": "none",
				"ggwidth": "",
				"fbheight": "20",
				"fbwidth": "100",
				"fbshow_faces": "false",
				"fblayout": "button_count",
				"fbaction": "like",
				"fbcolorscheme": "light",
				"fbref": "",
				"twvia": "",
				"twtext": "",
				"twrelated": "",
				"twcount": "none",
				"element": "d4e76744-47c4-4e90-980a-12c846789f5e"
			}
		},
		"related":  {
			"0":  {
				"showlabel": "1",
				"altlabel": "",
				"order":  {
					"0": "_itemcreated",
					"1": "",
					"2": "",
					"3": "",
					"4": "",
					"5": "",
					"6": "",
					"7": "",
					"8": ""
				},
				"layout": "related",
				"link_to_item": "0",
				"separated_by": "tag=[%s]",
				"element": "64c188a6-cf2f-4895-8879-8b67a58b6780"
			}
		}
	},
	"product.furniture.related":  {
		"title":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"element": "_itemname"
			}
		},
		"media":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"width": "100",
				"height": "",
				"link_to_item": "1",
				"element": "c0794696-a5d2-4df9-b20f-f23b0f94a41b"
			}
		},
		"description":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[<div class=\"uk-margin\">%s<\/div>]",
				"display": "all",
				"element": "beab45eb-b32a-4766-822d-b3fb72b5b1d4"
			}
		},
		"links":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"link_text": "",
				"element": "_itemlink"
			},
			"1":  {
				"showlabel": "0",
				"altlabel": "",
				"single_comment_text": "Feedback (%s)",
				"multiple_comments_text": "Feedback (%s)",
				"no_comments_text": "Leave Feedback",
				"element": "_itemcommentslink"
			}
		}
	},
	"product.furniture.submission":  {
		"content":  {
			"0":  {
				"altlabel": "",
				"required": "1",
				"element": "_itemname"
			},
			"1":  {
				"altlabel": "",
				"required": "1",
				"element": "beab45eb-b32a-4766-822d-b3fb72b5b1d4"
			},
			"2":  {
				"altlabel": "",
				"required": "1",
				"element": "83ba7366-d126-40f0-923e-3e7a94f0e773"
			},
			"3":  {
				"altlabel": "",
				"required": "0",
				"element": "d61cb730-00c1-48ad-bef9-0dceb5cfc018"
			},
			"4":  {
				"altlabel": "",
				"required": "0",
				"element": "68d53070-a484-4eab-8de3-663926fcd9b9"
			}
		},
		"media":  {
			"0":  {
				"altlabel": "",
				"required": "0",
				"element": "c0794696-a5d2-4df9-b20f-f23b0f94a41b"
			},
			"1":  {
				"altlabel": "",
				"required": "0",
				"element": "246e955a-5a57-4ad0-ad8c-c15fc7bfccb6"
			}
		},
		"meta":  {
			"0":  {
				"altlabel": "",
				"required": "0",
				"element": "64c188a6-cf2f-4895-8879-8b67a58b6780"
			},
			"1":  {
				"altlabel": "",
				"required": "0",
				"element": "00e1df62-828d-42f5-a1a6-a89d553d4934"
			}
		}
	},
	"product.furniture.teaser":  {
		"title":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"element": "_itemname"
			}
		},
		"media":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"width": "150",
				"height": "",
				"link_to_item": "1",
				"element": "c0794696-a5d2-4df9-b20f-f23b0f94a41b"
			}
		},
		"description":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"rating_disabled": "1",
				"show_message": "0",
				"show_microdata": "0",
				"element": "fff9519f-3b36-4df5-8722-17db9f2ea31c"
			},
			"1":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[<div class=\"uk-margin\">%s<\/div>]",
				"display": "all",
				"element": "beab45eb-b32a-4766-822d-b3fb72b5b1d4"
			}
		},
		"links":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"link_text": "",
				"element": "_itemlink"
			}
		}
	},
	"product.product.feed":  {
		"description":  {
			"0":  {
				"altlabel": "",
				"display": "all",
				"element": "beab45eb-b32a-4766-822d-b3fb72b5b1d4",
				"separated_by": "tag=[<div>%s<\/div>]",
				"showlabel": "0"
			},
			"1":  {
				"altlabel": "",
				"display": "all",
				"element": "83ba7366-d126-40f0-923e-3e7a94f0e773",
				"separated_by": "tag=[<div>%s<\/div>]",
				"showlabel": "0"
			}
		}
	},
	"product.product.full":  {
		"title":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "0",
				"element": "_itemname"
			}
		},
		"media":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"width": "",
				"height": "",
				"link_to_item": "0",
				"element": "246e955a-5a57-4ad0-ad8c-c15fc7bfccb6"
			}
		},
		"description":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"rating_disabled": "0",
				"show_message": "1",
				"show_microdata": "0",
				"element": "fff9519f-3b36-4df5-8722-17db9f2ea31c"
			},
			"1":  {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "tag=[<div class=\"uk-margin\">%s<\/div>]",
				"display": "all",
				"element": "83ba7366-d126-40f0-923e-3e7a94f0e773"
			}
		},
		"bottom":  {
			"0":  {
				"showlabel": "1",
				"altlabel": "Share this product",
				"ggsize": "medium",
				"ggannotation": "none",
				"ggwidth": "",
				"fbheight": "20",
				"fbwidth": "100",
				"fbshow_faces": "false",
				"fblayout": "button_count",
				"fbaction": "like",
				"fbcolorscheme": "light",
				"fbref": "",
				"twvia": "",
				"twtext": "",
				"twrelated": "",
				"twcount": "none",
				"element": "1f368292-7f5f-4d8d-baf5-01e1d599d245"
			}
		},
		"related":  {
			"0":  {
				"showlabel": "1",
				"altlabel": "",
				"order":  {
					"0": "_itemcreated",
					"1": "",
					"2": "",
					"3": "",
					"4": "",
					"5": "",
					"6": "",
					"7": "",
					"8": ""
				},
				"layout": "related",
				"link_to_item": "0",
				"separated_by": "tag=[%s]",
				"element": "64c188a6-cf2f-4895-8879-8b67a58b6780"
			}
		}
	},
	"product.product.related":  {
		"title":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"element": "_itemname"
			}
		},
		"media":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"width": "100",
				"height": "",
				"link_to_item": "1",
				"element": "c0794696-a5d2-4df9-b20f-f23b0f94a41b"
			}
		},
		"description":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[<div class=\"uk-margin\">%s<\/div>]",
				"display": "all",
				"element": "beab45eb-b32a-4766-822d-b3fb72b5b1d4"
			}
		},
		"links":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"link_text": "",
				"element": "_itemlink"
			},
			"1":  {
				"showlabel": "0",
				"altlabel": "",
				"single_comment_text": "Feedback (%s)",
				"multiple_comments_text": "Feedback (%s)",
				"no_comments_text": "Leave Feedback",
				"element": "_itemcommentslink"
			}
		}
	},
	"product.product.submission":  {
		"content":  {
			"0":  {
				"altlabel": "",
				"required": "1",
				"element": "_itemname"
			},
			"1":  {
				"altlabel": "",
				"required": "1",
				"element": "beab45eb-b32a-4766-822d-b3fb72b5b1d4"
			},
			"2":  {
				"altlabel": "",
				"required": "1",
				"element": "83ba7366-d126-40f0-923e-3e7a94f0e773"
			}
		},
		"media":  {
			"0":  {
				"altlabel": "",
				"required": "0",
				"element": "c0794696-a5d2-4df9-b20f-f23b0f94a41b"
			},
			"1":  {
				"altlabel": "",
				"required": "0",
				"element": "246e955a-5a57-4ad0-ad8c-c15fc7bfccb6"
			}
		},
		"meta":  {
			"0":  {
				"altlabel": "",
				"required": "0",
				"element": "64c188a6-cf2f-4895-8879-8b67a58b6780"
			},
			"1":  {
				"altlabel": "",
				"required": "0",
				"element": "00e1df62-828d-42f5-a1a6-a89d553d4934"
			}
		}
	},
	"product.product.teaser":  {
		"title":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"element": "_itemname"
			}
		},
		"media":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"width": "",
				"height": "",
				"link_to_item": "1",
				"element": "c0794696-a5d2-4df9-b20f-f23b0f94a41b"
			}
		},
		"description":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"rating_disabled": "1",
				"show_message": "0",
				"show_microdata": "0",
				"element": "fff9519f-3b36-4df5-8722-17db9f2ea31c"
			},
			"1":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[<p>%s<\/p>]",
				"display": "all",
				"element": "beab45eb-b32a-4766-822d-b3fb72b5b1d4"
			}
		},
		"links":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"link_text": "",
				"element": "_itemlink"
			}
		}
	},
	"product.automobile.edit":  {
		"content":  {
			"0":  {
				"altlabel": "",
				"required": "0",
				"element": "_itemname"
			},
			"1":  {
				"altlabel": "",
				"required": "0",
				"element": "beab45eb-b32a-4766-822d-b3fb72b5b1d4"
			},
			"2":  {
				"altlabel": "",
				"required": "0",
				"element": "f243f381-bd38-4686-b5d3-029123334db6"
			},
			"3":  {
				"altlabel": "",
				"required": "0",
				"element": "33a1614d-069e-41d0-a21e-c162ebe500e5"
			},
			"4":  {
				"altlabel": "",
				"required": "0",
				"element": "76d6096d-4152-4f61-a0da-036a6436f9ab"
			},
			"5":  {
				"altlabel": "",
				"required": "0",
				"element": "8f8b5c48-fd0b-4232-a60f-90fd9110a0e8"
			},
			"6":  {
				"altlabel": "",
				"required": "0",
				"element": "83ba7366-d126-40f0-923e-3e7a94f0e773"
			},
			"7":  {
				"altlabel": "",
				"required": "0",
				"multiple": "1",
				"primary": "0",
				"element": "_itemcategory"
			},
			"8":  {
				"altlabel": "",
				"required": "0",
				"element": "64c188a6-cf2f-4895-8879-8b67a58b6780"
			}
		},
		"media":  {
			"0":  {
				"altlabel": "",
				"required": "0",
				"element": "c0794696-a5d2-4df9-b20f-f23b0f94a41b"
			},
			"1":  {
				"altlabel": "",
				"required": "0",
				"element": "246e955a-5a57-4ad0-ad8c-c15fc7bfccb6"
			}
		},
		"meta":  {
			"0":  {
				"altlabel": "",
				"required": "0",
				"element": "_itemtag"
			}
		},
		"administration":  {
			"0":  {
				"altlabel": "",
				"required": "0",
				"element": "_itempublish_up"
			},
			"1":  {
				"altlabel": "",
				"required": "0",
				"element": "_itempublish_down"
			},
			"2":  {
				"altlabel": "",
				"required": "0",
				"element": "_itemstate"
			},
			"3":  {
				"altlabel": "",
				"required": "0",
				"element": "_itemaccess"
			},
			"4":  {
				"altlabel": "",
				"required": "0",
				"element": "_itemfrontpage"
			},
			"5":  {
				"altlabel": "",
				"required": "0",
				"element": "8fc7f03a-5c3b-4e11-8ecc-f1ce24af79d8"
			},
			"6":  {
				"altlabel": "",
				"required": "0",
				"element": "_itemsearchable"
			}
		}
	},
	"product.furniture.edit":  {
		"content":  {
			"0":  {
				"altlabel": "",
				"required": "0",
				"element": "_itemname"
			},
			"1":  {
				"altlabel": "",
				"required": "0",
				"element": "beab45eb-b32a-4766-822d-b3fb72b5b1d4"
			},
			"2":  {
				"altlabel": "",
				"required": "0",
				"element": "83ba7366-d126-40f0-923e-3e7a94f0e773"
			},
			"3":  {
				"altlabel": "",
				"required": "0",
				"element": "d61cb730-00c1-48ad-bef9-0dceb5cfc018"
			},
			"4":  {
				"altlabel": "",
				"required": "0",
				"element": "68d53070-a484-4eab-8de3-663926fcd9b9"
			},
			"5":  {
				"altlabel": "",
				"required": "0",
				"multiple": "1",
				"primary": "0",
				"element": "_itemcategory"
			},
			"6":  {
				"altlabel": "",
				"required": "0",
				"element": "64c188a6-cf2f-4895-8879-8b67a58b6780"
			}
		},
		"media":  {
			"0":  {
				"altlabel": "",
				"required": "0",
				"element": "c0794696-a5d2-4df9-b20f-f23b0f94a41b"
			},
			"1":  {
				"altlabel": "",
				"required": "0",
				"element": "246e955a-5a57-4ad0-ad8c-c15fc7bfccb6"
			}
		},
		"meta":  {
			"0":  {
				"altlabel": "",
				"required": "0",
				"element": "_itemtag"
			}
		},
		"administration":  {
			"0":  {
				"altlabel": "",
				"required": "0",
				"element": "_itempublish_up"
			},
			"1":  {
				"altlabel": "",
				"required": "0",
				"element": "_itempublish_down"
			},
			"2":  {
				"altlabel": "",
				"required": "0",
				"element": "_itemaccess"
			},
			"3":  {
				"altlabel": "",
				"required": "0",
				"element": "_itemstate"
			},
			"4":  {
				"altlabel": "",
				"required": "0",
				"element": "_itemsearchable"
			},
			"5":  {
				"altlabel": "",
				"required": "0",
				"element": "_itemfrontpage"
			},
			"6":  {
				"altlabel": "",
				"required": "0",
				"element": "d4e76744-47c4-4e90-980a-12c846789f5e"
			}
		}
	},
	"product.product.edit":  {
		"content":  {
			"0":  {
				"altlabel": "",
				"required": "0",
				"element": "_itemname"
			},
			"1":  {
				"altlabel": "",
				"required": "0",
				"element": "beab45eb-b32a-4766-822d-b3fb72b5b1d4"
			},
			"2":  {
				"altlabel": "",
				"required": "0",
				"element": "83ba7366-d126-40f0-923e-3e7a94f0e773"
			},
			"3":  {
				"altlabel": "",
				"required": "0",
				"multiple": "1",
				"primary": "0",
				"element": "_itemcategory"
			},
			"4":  {
				"altlabel": "",
				"required": "0",
				"element": "64c188a6-cf2f-4895-8879-8b67a58b6780"
			}
		},
		"media":  {
			"0":  {
				"altlabel": "",
				"required": "0",
				"element": "246e955a-5a57-4ad0-ad8c-c15fc7bfccb6"
			},
			"1":  {
				"altlabel": "",
				"required": "0",
				"element": "c0794696-a5d2-4df9-b20f-f23b0f94a41b"
			}
		},
		"meta":  {
			"0":  {
				"altlabel": "",
				"required": "0",
				"element": "_itemtag"
			}
		},
		"administration":  {
			"0":  {
				"altlabel": "",
				"required": "0",
				"element": "_itempublish_up"
			},
			"1":  {
				"altlabel": "",
				"required": "0",
				"element": "_itempublish_down"
			},
			"2":  {
				"altlabel": "",
				"required": "0",
				"element": "_itemstate"
			},
			"3":  {
				"altlabel": "",
				"required": "0",
				"element": "_itemaccess"
			},
			"4":  {
				"altlabel": "",
				"required": "0",
				"element": "_itemsearchable"
			},
			"5":  {
				"altlabel": "",
				"required": "0",
				"element": "_itemfrontpage"
			},
			"6":  {
				"altlabel": "",
				"required": "0",
				"element": "1f368292-7f5f-4d8d-baf5-01e1d599d245"
			}
		}
	},
	"product.ontwerp.feed":  {
		"description":  {
			"0":  {
				"altlabel": "",
				"display": "all",
				"element": "6df4ef1e-f63f-46d9-8c6e-2dac1b8e0191",
				"separated_by": "tag=[<div>%s<\/div>]",
				"showlabel": "0"
			},
			"1":  {
				"altlabel": "",
				"display": "all",
				"element": "78d1c989-609e-43ae-b521-b98ac80215ec",
				"separated_by": "tag=[<div>%s<\/div>]",
				"showlabel": "0"
			}
		}
	},
	"product.ontwerp.full":  {
		"title":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "0",
				"element": "_itemname"
			}
		},
		"media":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"width": "550",
				"height": "",
				"link_to_item": "0",
				"element": "b91aec2f-8097-4266-924b-3f0a07a5f419"
			}
		},
		"description":  {
			"0":  {
				"showlabel": "1",
				"altlabel": "Projectomschrijving",
				"separated_by": "tag=[<div class=\"uk-margin\">%s<\/div>]",
				"display": "all",
				"element": "78d1c989-609e-43ae-b521-b98ac80215ec"
			}
		},
		"specification":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"element": "0cb14871-6123-4e0e-87df-436c2771b904"
			},
			"1":  {
				"showlabel": "0",
				"altlabel": "",
				"layout":  {
					"_layout": "widgetkit2.php",
					"_widget": "{\"widget\":\"gallery\",\"grid\":\"dynamic\",\"columns_small\":\"2\",\"columns_medium\":\"3\",\"columns_large\":\"4\",\"columns_xlarge\":\"4\",\"animation\":\"scale-up\",\"title\":false,\"content\":false}"
				},
				"filter":  {
					"_offset": "",
					"_limit": ""
				},
				"separator":  {
					"_by": "separator=[ ]",
					"_by_custom": "",
					"_class": ""
				},
				"element": "d3230f34-8a37-4778-a238-03c41d89b04e"
			}
		},
		"bottom":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"element": "831dc79b-4377-4a88-a09a-cac4724a3dac"
			},
			"1":  {
				"showlabel": "0",
				"altlabel": "",
				"rating_disabled": "0",
				"show_message": "1",
				"show_microdata": "0",
				"element": "71a19758-8cf5-40ae-b194-8066938d6360"
			},
			"2":  {
				"showlabel": "0",
				"altlabel": "",
				"linked": "1",
				"separated_by": "separator=[ | ]",
				"element": "_itemtag"
			},
			"3":  {
				"showlabel": "1",
				"altlabel": "Deel dit project",
				"ggsize": "medium",
				"ggannotation": "none",
				"ggwidth": "",
				"fbheight": "20",
				"fbwidth": "100",
				"fbshow_faces": "false",
				"fblayout": "button_count",
				"fbaction": "like",
				"fbcolorscheme": "light",
				"fbref": "",
				"twvia": "",
				"twtext": "",
				"twrelated": "",
				"twcount": "none",
				"element": "f0c9ff0f-51ee-494c-9b37-a0c865a2a946"
			}
		},
		"related":  {
			"0":  {
				"showlabel": "1",
				"altlabel": "Soortgelijke projecten",
				"order":  {
					"0": "_itemcreated",
					"1": "",
					"2": "",
					"3": "78d1c989-609e-43ae-b521-b98ac80215ec",
					"4": ""
				},
				"layout": "related",
				"link_to_item": "0",
				"separated_by": "tag=[%s]",
				"element": "2fb3ff18-2bf0-4af0-881b-bf239f1aab94"
			}
		}
	},
	"product.ontwerp.related":  {
		"title":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"element": "_itemname"
			}
		},
		"media":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"width": "100",
				"height": "",
				"link_to_item": "1",
				"element": "93bf90fe-4498-4c96-a74c-f5346d304b7b"
			}
		},
		"description":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[<div class=\"uk-margin\">%s<\/div>]",
				"display": "all",
				"element": "6df4ef1e-f63f-46d9-8c6e-2dac1b8e0191"
			}
		},
		"links":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"link_text": "",
				"element": "_itemlink"
			},
			"1":  {
				"showlabel": "0",
				"altlabel": "",
				"single_comment_text": "Feedback (%s)",
				"multiple_comments_text": "Feedback (%s)",
				"no_comments_text": "Leave Feedback",
				"element": "_itemcommentslink"
			}
		}
	},
	"product.ontwerp.submission":  {
		"content":  {
			"0":  {
				"altlabel": "",
				"required": "1",
				"element": "_itemname"
			},
			"1":  {
				"altlabel": "",
				"required": "1",
				"element": "6df4ef1e-f63f-46d9-8c6e-2dac1b8e0191"
			},
			"2":  {
				"altlabel": "",
				"required": "1",
				"element": "78d1c989-609e-43ae-b521-b98ac80215ec"
			}
		},
		"media":  {
			"0":  {
				"altlabel": "",
				"required": "0",
				"element": "93bf90fe-4498-4c96-a74c-f5346d304b7b"
			},
			"1":  {
				"altlabel": "",
				"required": "0",
				"element": "b91aec2f-8097-4266-924b-3f0a07a5f419"
			}
		},
		"meta":  {
			"0":  {
				"altlabel": "",
				"required": "0",
				"element": "2fb3ff18-2bf0-4af0-881b-bf239f1aab94"
			},
			"1":  {
				"altlabel": "",
				"required": "0",
				"element": "00e1df62-828d-42f5-a1a6-a89d553d4934"
			}
		}
	},
	"product.ontwerp.teaser":  {
		"title":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"element": "_itemname"
			}
		},
		"media":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"width": "",
				"height": "",
				"link_to_item": "1",
				"element": "93bf90fe-4498-4c96-a74c-f5346d304b7b"
			}
		},
		"description":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"rating_disabled": "1",
				"show_message": "0",
				"show_microdata": "0",
				"element": "71a19758-8cf5-40ae-b194-8066938d6360"
			},
			"1":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[<p>%s<\/p>]",
				"display": "all",
				"element": "6df4ef1e-f63f-46d9-8c6e-2dac1b8e0191"
			}
		},
		"links":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"link_text": "",
				"element": "_itemlink"
			}
		}
	},
	"product.ontwerp.edit":  {
		"content":  {
			"0":  {
				"altlabel": "",
				"required": "0",
				"element": "_itemname"
			},
			"1":  {
				"altlabel": "",
				"required": "0",
				"element": "6df4ef1e-f63f-46d9-8c6e-2dac1b8e0191"
			},
			"2":  {
				"altlabel": "",
				"required": "0",
				"element": "78d1c989-609e-43ae-b521-b98ac80215ec"
			},
			"3":  {
				"altlabel": "",
				"required": "0",
				"multiple": "1",
				"primary": "0",
				"element": "_itemcategory"
			},
			"4":  {
				"altlabel": "",
				"required": "0",
				"element": "2fb3ff18-2bf0-4af0-881b-bf239f1aab94"
			}
		},
		"media":  {
			"0":  {
				"altlabel": "",
				"required": "0",
				"element": "b91aec2f-8097-4266-924b-3f0a07a5f419"
			},
			"1":  {
				"altlabel": "",
				"required": "0",
				"element": "93bf90fe-4498-4c96-a74c-f5346d304b7b"
			}
		},
		"meta":  {
			"0":  {
				"altlabel": "",
				"required": "0",
				"element": "_itemtag"
			}
		},
		"administration":  {
			"0":  {
				"altlabel": "",
				"required": "0",
				"element": "_itempublish_up"
			},
			"1":  {
				"altlabel": "",
				"required": "0",
				"element": "_itempublish_down"
			},
			"2":  {
				"altlabel": "",
				"required": "0",
				"element": "_itemstate"
			},
			"3":  {
				"altlabel": "",
				"required": "0",
				"element": "_itemaccess"
			},
			"4":  {
				"altlabel": "",
				"required": "0",
				"element": "_itemsearchable"
			},
			"5":  {
				"altlabel": "",
				"required": "0",
				"element": "_itemfrontpage"
			},
			"6":  {
				"altlabel": "",
				"required": "0",
				"element": "f0c9ff0f-51ee-494c-9b37-a0c865a2a946"
			}
		}
	}
}